@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ------ Globals ------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barlow {
  font-family: "Barlow", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.disable-scroll {
  height: 100%;
  overflow: hidden !important;
}

p {
  font-family: "Poppins", sans-serif;
}

.logo {
  position: relative;
  z-index: 500;
}
.logo:hover {
  z-index: 1;
  background: linear-gradient(250deg, #00baf1, #f16dff, #00baf1);
  background-size: auto;
  background-size: 600% 600%;
  animation: BluePinkGradient 6s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.2s ease;
}

.section_padding {
  @apply px-8 md:px-16 py-14;
}

.inline_link {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1.5px;
}
.inline_link:hover {
  color: #f16dff;
  transition: 0.2s ease;
}

/* ------ Navbar ------ */
.nav_link {
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  font-family: "Inter", sans-serif;
  z-index: 10;
}
.nav_link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 1.4px;
  transition-property: right;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  border-radius: 15px;
}
.nav_link:hover:before, .nav_link:focus:before, .nav_link:active:before {
  right: 0;
}
.nav_link:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: linear-gradient(250deg, #00baf1, #f16dff, #00baf1);
  background-size: auto;
  background-size: 600% 600%;
  animation: BluePinkGradient 6s ease infinite;
  height: 1.4px;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 15px;
  transition-delay: 0.3s;
}
.nav_link:hover:after, .nav_link:focus:after, .nav_link:active:after {
  left: 0;
}

.title {
  font-size: clamp(2em, 8vw, 3.8em);
  text-transform: uppercase;
  position: relative;
  margin: 0;
  line-height: 1.3em;
  font-weight: 400;
}

.title_span {
  position: relative;
  font-weight: 600;
  z-index: 1;
  background: linear-gradient(250deg, #00baf1, #f16dff, #00baf1);
  background-size: auto;
  background-size: 600% 600%;
  animation: BluePinkGradient 6s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.01em;
}
#typewriter::after {
  content: "";
  padding-right: 6px;
  right: 0;
  border-right: 0.01em solid white;
  animation: blink-caret 0.8s step-end infinite;
  animation-fill-mode: forwards;
}

.typewriter-line {
  display: block;
  position: absolute;
  right: 0;
}
.typewriter-line.typewriter-line::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  visibility: hidden;
}

.hide-cursor#typewriter::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  visibility: hidden;
  display: none;
}
.hide-cursor::after {
  content: "";
  display: none;
}

.stop-cursor-animation #typewriter::after {
  border-color: transparent !important;
  animation: none !important;
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
}

.hide-cursor .typewriter-line::after {
  display: none;
}

.stop-cursor-animation .typewriter-line::after {
  border-color: transparent !important;
  animation: none !important;
}

/* All Buttons */
.custom_btn {
  @apply py-3 px-12 text-base font-medium;
}

.button_bg_blue:hover {
  background-color: #222838 !important;
}

.solid_btn {
  color: #1d1d1d;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  background-color: #fff;
  border: 1px solid white;
}
.solid_btn:hover {
  border: 1px solid transparent;
  background-color: #1d1d1d;
}
.solid_btn::before, .solid_btn::after {
  border: 0 solid transparent;
  box-sizing: content-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -2.25px;
  right: -2.5px;
}
.solid_btn::before {
  border-bottom-width: 5px;
  border-left-width: 5px;
}
.solid_btn::after {
  border-top-width: 5px;
  border-right-width: 5px;
}
.solid_btn:hover {
  color: #ffffff;
}
.solid_btn:hover::before, .solid_btn:hover::after {
  background: linear-gradient(250deg, #00baf1, #f16dff, #00baf1);
  background-size: auto;
  background-size: 600% 600%;
  animation: BluePinkGradient 6s ease infinite;
  transition: background 0.25s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.solid_btn:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.solid_btn:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.outlined_btn {
  color: #ffffff;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  background-color: #1d1d1d;
  border: 1px solid white;
}
.outlined_btn:hover {
  border: 1px solid transparent;
}
.outlined_btn::before, .outlined_btn::after {
  border: 0 solid transparent;
  box-sizing: content-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -2.25px;
  right: -2.5px;
}
.outlined_btn::before {
  border-bottom-width: 5px;
  border-left-width: 5px;
}
.outlined_btn::after {
  border-top-width: 5px;
  border-right-width: 5px;
}
.outlined_btn:hover {
  color: #ffffff;
}
.outlined_btn:hover::before, .outlined_btn:hover::after {
  background: linear-gradient(250deg, #00baf1, #f16dff, #00baf1);
  background-size: auto;
  background-size: 600% 600%;
  animation: BluePinkGradient 6s ease infinite;
  transition: background 0.25s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.outlined_btn:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.outlined_btn:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.hero_graphic {
  position: relative;
  width: 14em;
  height: 14em;
}

.hero_graphic_big_square::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  height: 14em;
  width: 14em;
  background-color: #222838;
  background: linear-gradient(45deg, #1b1f2c, #2a3145);
  box-shadow: 25px 10px 100px -5px rgba(0, 0, 0, 0.1), -25px 10px 100px -12px rgba(0, 0, 0, 0.1);
}

.hero_graphic_img {
  position: absolute;
  bottom: -1.6em;
  right: -1.6em;
}

.hero_graphic_star_one,
.hero_graphic_star_two,
.hero_graphic_star_three,
.hero_graphic_star_four {
  font-size: 2em;
  z-index: 20;
  position: absolute;
  background: linear-gradient(250deg, #00baf1, #f16dff, #00baf1);
  background-size: auto;
  background-size: 600% 600%;
  animation: BluePinkGradient 6s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transform: rotate(45deg);
}

.hero_graphic_star_one {
  top: 1.8em;
  right: -1em;
}

.hero_graphic_star_two {
  top: 2.7em;
  right: -1em;
}

.hero_graphic_star_three {
  bottom: 0em;
  left: -0.25em;
}

.hero_graphic_star_four {
  bottom: -1em;
  left: -0.25em;
}

.hero_graphic_small_square::after {
  content: "";
  display: block;
  position: absolute;
  right: -2em;
  top: -2em;
  z-index: 10;
  height: 4em;
  width: 4em;
  background-color: #b0b0b0;
  background: linear-gradient(130deg, #c4c4c4, #787878);
  box-shadow: 25px 0px 50px -5px rgba(0, 0, 0, 0.1), -25px 0px 50px -12px rgba(0, 0, 0, 0.1);
}

.marginleft_shift {
  margin-left: -20px;
}

.scroll_down_btn {
  display: none;
  visibility: hidden;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
}

.scroll_down_btn .hvr-icon {
  color: white;
  transform: translateZ(0);
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: ease-out;
  -webkit-background-clip: text;
          background-clip: text;
}

.scroll_down_btn:hover .hvr-icon,
.scroll_down_btn:focus .hvr-icon,
.scroll_down_btn:active .hvr-icon {
  transform: translateY(7px);
}

.section_blue {
  background: linear-gradient(190deg, #222838, #1b1f2c);
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.1), 0px -25px 50px -5px rgba(0, 0, 0, 0.1);
  z-index: -100;
}

.section_title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(1.8em, 4vw, 3em);
  text-decoration: underline;
  text-underline-offset: 20px;
  text-decoration-thickness: 3px;
  padding-bottom: 30px;
}

.social_icon {
  height: 25px;
  max-width: 25px;
  filter: invert(1);
  transition: 0.1s ease;
}
.social_icon:hover {
  opacity: 0.75;
}

.about_image {
  box-shadow: 25px 0px 50px -5px rgba(0, 0, 0, 0.1), -25px 0px 50px -12px rgba(0, 0, 0, 0.1);
}

.project_section_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2em;
  padding: 3em 0;
}
.project_section_list a {
  display: inherit;
  flex-basis: 20.5em;
  flex-grow: 2;
  position: relative;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
}

.project_section_list_item {
  padding: 0;
  background-color: #171717;
  text-align: center;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition: 0.2s ease;
}
.project_section_list_item:hover {
  cursor: pointer;
  background-color: #0d0d0d;
}
.project_section_list_item:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 1.4px;
  transition-property: right;
  transition-duration: 0.12s;
  transition-timing-function: ease-out;
  border-radius: 15px;
}
.project_section_list_item:hover:before, .project_section_list_item:focus:before, .project_section_list_item:active:before {
  right: 0;
}
.project_section_list_item:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: linear-gradient(250deg, #00baf1, #f16dff, #00baf1);
  background-size: auto;
  background-size: 600% 600%;
  animation: BluePinkGradient 6s ease infinite;
  height: 1.4px;
  transition-property: left;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  border-radius: 15px;
  transition-delay: 0.18s;
}
.project_section_list_item:hover:after, .project_section_list_item:focus:after, .project_section_list_item:active:after {
  left: 0;
}
.project_section_list_item h5 {
  font-size: 1.2em;
  margin-top: 0;
  padding-bottom: 1em;
}

.project_section_list_item_img {
  padding: 2em;
  padding-bottom: 1em;
}
.project_section_list_item_img img {
  height: auto;
  min-width: 10em;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  background-color: #1b1f2d;
  padding: 10px 0;
  padding-left: 12px;
  padding-right: 16px;
  outline: none;
  border: none;
  border-bottom: 0.5px solid transparent;
}
.contact_form input:focus,
.contact_form textarea:focus {
  border-bottom: 0.5px solid #fff;
}
.contact_form span {
  position: relative;
}

.contact_button {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  position: relative;
  border: none;
  color: #1b1f2c;
  font-weight: 600;
  padding: 12px 70px;
}
.contact_button:hover {
  color: #fff;
  transition: all 0.3s ease;
  background: linear-gradient(250deg, #00baf1, #f16dff, #00baf1);
  background-size: auto;
  background-size: 600% 600%;
  animation: BluePinkGradient 6s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.contact_button_wrapper {
  display: initial;
  background-color: #fff;
  padding: 15.5px 0;
  transition: all 0.3s ease;
}

.resume_section button:hover img {
  filter: invert(1);
  transition-delay: 0.25s;
  transition: 0.1s ease;
}

.back_btn_icon {
  color: #868686;
}
.back_btn_icon:hover .back_btn_icon,
.back_btn_icon:hover .back_btn_text {
  color: #fff;
  transition: 0.2s ease;
}
.back_btn_icon .back_btn_text {
  color: #868686;
}

.projects_page_banner {
  display: flex;
  flex-direction: column;
}
.projects_page_banner h1 {
  font-size: clamp(2.5em, 8vw, 3.8em);
  text-transform: uppercase;
  margin-bottom: 0.6em;
  margin-top: 0.5em;
}
.projects_page_banner h1 span {
  position: relative;
}
.projects_page_banner h1 span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.05em;
  width: 100%;
  background: white;
}
.projects_page_banner p {
  margin-top: 0;
  max-width: 40em;
}

.projects_page_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2em;
  padding: 3em 2rem;
}
.projects_page_list a {
  display: inherit;
  flex-basis: 20.5em;
  flex-grow: 2;
  position: relative;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
}

.projects_list_item {
  padding: 16px;
  background-color: #171717;
  text-align: center;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.projects_list_item:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 1.4px;
  transition-property: right;
  transition-duration: 0.12s;
  transition-timing-function: ease-out;
  border-radius: 15px;
}
.projects_list_item:hover:before, .projects_list_item:focus:before, .projects_list_item:active:before {
  right: 0;
}
.projects_list_item:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: linear-gradient(250deg, #00baf1, #f16dff, #00baf1);
  background-size: auto;
  background-size: 600% 600%;
  animation: BluePinkGradient 6s ease infinite;
  height: 1.4px;
  transition-property: left;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  border-radius: 15px;
  transition-delay: 0.18s;
}
.projects_list_item:hover:after, .projects_list_item:focus:after, .projects_list_item:active:after {
  left: 0;
}

.projects_list_item_img {
  padding: 1em;
}
.projects_list_item_img img {
  height: auto;
  min-width: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.projects_list_item_img h5 {
  font-size: 1.2em;
  margin-top: 0;
  padding-bottom: 1em;
}

.project_single {
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
}

.project_single_banner {
  padding-bottom: 4em;
}
.project_single_banner .project_single_banner h1 {
  display: inline-block;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  padding-bottom: 0.2em;
  margin-bottom: 0.3em;
}
.project_single_banner .project_single_banner h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.08em;
  width: 100%;
  border-radius: 1em;
  background: linear-gradient(250deg, #00baf1, #f16dff, #00baf1);
  background-size: auto;
  background-size: 600% 600%;
  animation: BluePinkGradient 6s ease infinite;
}

.mobile_intro {
  display: block;
  visibility: visible;
}

.desktop_intro {
  display: none;
  visibility: hidden;
}

.mobile_about {
  display: block;
  visibility: visible;
}

.desktop_about {
  display: none;
  visibility: hidden;
}

.mobile_project_page_summary {
  display: block;
  visibility: visible;
}

.desktop_project_page_summary {
  display: none;
  visibility: hidden;
}

.project_single_text h3 {
  font-size: 2.4em;
}

.project_single_text p {
  max-width: 40em;
}

.project_single_text ul {
  padding-left: 1em;
}

.project_single_content div {
  padding-top: 1em;
}

.project_single_text_tools ul {
  list-style-type: disc;
}

.project_single_images {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
  align-items: center;
}

.hero_resize {
  flex-direction: column-reverse;
}

.project_external_link {
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  font-family: "Inter", sans-serif;
  z-index: 10;
}
.project_external_link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  background: #fff;
  height: 1.4px;
  width: 0;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 15px;
}
.project_external_link:hover:before, .project_external_link:focus:before, .project_external_link:active:before {
  width: 100%;
}

.hamburger_icon {
  display: block;
  z-index: 200;
  margin-left: auto;
  width: 24px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transform: rotate(180deg);
  z-index: 9999;
}

.hamburger_line {
  display: block;
  position: relative;
  height: 3px;
  border-radius: 1em;
  background-color: white;
  margin-bottom: 6px;
  transition: all 1s ease-in-out;
}

.hamburger_icon_line_top {
  width: 80%;
  transition: width 0.3s ease-in-out;
}

.hamburger_icon_line_middle {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.hamburger_icon_line_bottom {
  width: 60%;
  transition: width 0.3s ease-in-out;
}

.hamburger_active .hamburger_icon_line_top,
.hamburger_active .hamburger_icon_line_bottom {
  width: 100%;
}

.hamburger_active .hamburger_icon_line_middle {
  width: 50%;
}

.mobile_link_lg {
  font-size: 20px;
}

.menu_container_backdrop {
  position: fixed;
  z-index: 80;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: rgb(2, 2, 2);
  opacity: 0.5;
}

.menu_container {
  position: fixed;
  z-index: 90;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #171717;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.menu_container ul {
  flex-direction: column;
  padding: 3rem 2rem;
  margin-top: 5rem;
}

.menu-open {
  right: 0;
  animation: mobileAnimation 0.6s ease;
}

.menu-closed {
  right: -100%;
  animation: mobileAnimationClosed 0.3s ease;
}

.backdrop-open {
  right: 0;
  animation: mobileBackdropOpen 0.3s ease;
}

.backdrop-closed {
  right: -100%;
  animation: mobileBackdropClosed 0.6s ease;
}

@keyframes mobileAnimation {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes mobileAnimationClosed {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@keyframes mobileBackdropOpen {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes mobileBackdropClosed {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
.nav_social {
  position: relative;
  margin-top: auto;
  margin-bottom: 8rem;
  padding: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

footer {
  background-color: #1a1a1a;
}

/* ------ Media Queries ------ */
@media screen and (min-width: 1500px) {
  body {
    max-width: 1500px !important;
    margin: auto;
  }
}
@media screen and (min-width: 1065px) {
  .hero_resize {
    flex-direction: row;
  }
  .project_single_content {
    display: flex;
    -moz-column-gap: 1em;
         column-gap: 1em;
    padding: 0;
  }
  .project_single_text {
    background: linear-gradient(190deg, #222838, #1b1f2c);
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.1), 0px -25px 50px -5px rgba(0, 0, 0, 0.1);
    padding-left: 3em;
    padding-right: 1.5em;
    padding-bottom: 2em;
    margin-left: auto;
    max-width: 50%;
  }
}
@media screen and (min-width: 700px) {
  .project_single_banner h1 {
    font-size: clamp(2.2em, 10vw, 2.8em);
  }
  .project_single_banner h2 {
    font-size: 1.2em;
  }
  .project_single_banner h2 {
    font-size: 0.9em;
  }
  .project_single_images {
    display: flex;
    flex-direction: column;
    row-gap: 4em;
  }
  .project_single_images img {
    min-width: 14em;
    max-width: 100%;
  }
}
@media screen and (min-width: 700px) {
  .marginleft_shift {
    margin-left: 0px;
  }
  .hero_graphic {
    position: relative;
    width: 20em;
    height: 20em;
  }
  .hero_graphic_big_square::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    height: 20em;
    width: 20em;
    background-color: #222838;
    background: linear-gradient(45deg, #1b1f2c, #2a3145);
    box-shadow: 25px 10px 100px -5px rgba(0, 0, 0, 0.1), -25px 10px 100px -12px rgba(0, 0, 0, 0.1);
  }
  .hero_graphic_img {
    position: absolute;
    bottom: -1.6em;
    right: -1.6em;
  }
  .hero_graphic_star_one,
  .hero_graphic_star_two,
  .hero_graphic_star_three,
  .hero_graphic_star_four {
    font-size: 2em;
    z-index: 20;
    position: absolute;
    background: linear-gradient(250deg, #00baf1, #f16dff, #00baf1);
    background-size: auto;
    background-size: 600% 600%;
    animation: BluePinkGradient 6s ease infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transform: rotate(45deg);
  }
  .hero_graphic_star_one {
    top: 1.8em;
    right: -1em;
  }
  .hero_graphic_star_two {
    top: 2.7em;
    right: -1em;
  }
  .hero_graphic_star_three {
    bottom: 0em;
    left: -0.25em;
  }
  .hero_graphic_star_four {
    bottom: -1em;
    left: -0.25em;
  }
  .hero_graphic_small_square::after {
    content: "";
    display: block;
    position: absolute;
    right: -2em;
    top: -2em;
    z-index: 10;
    height: 5em;
    width: 5em;
    background-color: #b0b0b0;
    background: linear-gradient(130deg, #c4c4c4, #787878);
    box-shadow: 25px 0px 50px -5px rgba(0, 0, 0, 0.1), -25px 0px 50px -12px rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 700px) {
  .contact_form input,
  .contact_form textarea {
    width: 24rem;
  }
  .scroll_down_btn {
    display: flex;
    visibility: visible;
  }
}
@media screen and (min-width: 400px) {
  .project_single_banner h1 {
    font-size: 2rem;
  }
  .mobile_intro {
    display: none;
    visibility: hidden;
  }
  .desktop_intro {
    display: block;
    visibility: visible;
  }
  .mobile_about {
    display: none;
    visibility: hidden;
  }
  .desktop_about {
    display: block;
    visibility: visible;
  }
  .mobile_project_page_summary {
    display: none;
    visibility: hidden;
  }
  .desktop_project_page_summary {
    display: block;
    visibility: visible;
  }
}
/* ------ Animations ------ */
@keyframes AccentGradient {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes BluePinkGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  65% {
    border-color: white;
  }
}/*# sourceMappingURL=globals.css.map */